body {
    width: 950px;
    margin-right: auto;
    margin-left: auto;
}

header {
    font-family: sans-serif;
    color: red;
}

main {
    min-height: 500px;
}

.title {
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    transition: .4s;
}

.title:hover {
    letter-spacing: 2px;
    transition: .4s;
}

.title a {
    text-decoration: none;
    color: red;
}

.quote {
    font-style: italic;
}

footer {
    text-align: center;
    font-family: sans-serif;
    color: red;
    font-size: .8rem;
}

.shopping-cart {
    float: right;
    clear: none;
}

.item {
    display: inline-block;
    max-width: 200px;
    text-align: center;
    padding: 10px;
}

.item img {
    height: 200px;
    width: 200px;
}

#items-in-cart {
    padding: 7px 12px;
    background-color: red;
    color: white;
    border-radius: 100px;
}

#cart-total {
    font-family: sans-serif;
    font-weight: bold;
}

.price-of-toy {
    background-color: red;
    border-radius: 10rem;
    color: white;
    font-family: sans-serif;
    padding: 10px;
}

button:hover {
    background: silver;
}